.CartHeaderContainer{
    display: flex;
    align-items: center;
    justify-content: end;
    .inForProducts{
        display: flex;
        float: right;
        text-align: right;
        .textInfor{
            margin-top: 5px;
            height: 20px;
            display: flex;
            flex-direction: column;
            align-items: end;
            gap: 4px;
        }
    }
}